<div style="text-align: center">
  <h1>REGISTER USER</h1>
</div>
<br />
<div class="row justify-content-md-center">
  <form [formGroup]="register">
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" formControlName="username" />
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        aria-describedby="emailHelp"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>

    <hr />
    <button
      type="submit"
      [disabled]="!register.valid"
      (click)="registerUser()"
      class="btn btn-primary"
    >
      Register
    </button>
    <br />
    <hr />
  </form>
</div>
