<nav
  class="navbar navbar-expand-lg navbar-dark bg"
  style="background-color: rgb(187, 87, 69)"
>
  <div class="container">
    <a class="navbar-brand" href="#">Meeting-o-Matic</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="!isAuth()" class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li *ngIf="!isAuth()" class="nav-item">
        <a class="nav-link" [routerLink]="['/log-in']">LogIn</a>
      </li>
      <li *ngIf="isAuth()" class="nav-item">
        <a class="nav-link" (click)="logOut()">LogOut</a>
      </li>
    </ul>
  </div>
</nav>
